src/kolibri
src/preseeded_kolibri_home
src/extra-packages
tmpenv
whl/*

# File format for signing key
*.jks

# Generated for pew
project_info.json
# pew output folder
dist/

__pycache__
*.pyc
build_docker
build/
bin/
build.log
tmphome/
static/

# Needed only for development environment
.vscode
# Django and related deps
src/asgiref/*
src/asgiref-3.2.10.dist-info/*
src/django/*
src/Django-3.1.1.dist-info/*
src/pytz/*
src/pytz-2020.1.dist-info/*
src/sqlparse/*
src/sqlparse-0.3.1.dist-info/*